@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    background: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-card {
    max-width: 20rem;
    margin: 0 auto;
    background: hsl(244, 38%, 16%);
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
}

.header-img {
    width: 100%;
    height: 16rem;
    background: linear-gradient(to right, hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.5)), url(images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.card-body {
    padding: 2.25rem 1.75rem;
}
.heading {
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hightlight {
    color: hsl(277, 64%, 61%);
}

.description {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
    margin-bottom: 1.25rem;
    font-size: 0.95rem;
}

.data-facts {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.data-facts h2 {
    font-size: 1.5rem;
}
.sub-heading {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}
@media (min-width: 600px) {
    .container {
        height: 100%;
        margin: 0 auto;
    }
    .preview-card {
        max-width: 70vw;
    }
    .header-img {
        width: 100%;
        background: linear-gradient(to right, hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.5)), url(images/image-header-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;    
    }
    .header-img img {
        height: 100%;
    }
    .card-body {
        padding: 2rem 3rem;
        
    }
    .description {        
        margin-bottom: 0;
    }
    .data-facts {
        padding-top: 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
    }
}
@media (min-width: 820px) {
    .container {
        height: 100%;
        margin: 0 auto;
    }
    .preview-card {
        max-width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .header-img {
        height: 100%;
        grid-column: 2/-1;
        grid-row: 1/-1;
    }
    .card-body {
        padding: 3.5rem 3rem;
        text-align: left;
    }
    .heading {
        font-size: 1.85rem;
        margin-bottom: 2rem;
    }
    .data-facts {
        padding-top: 2rem;
        justify-content: flex-start;
        gap: 2rem;
    }
}
@media (min-width: 1024px) {    
    .preview-card {
        max-width: 80vw;
        column-gap: 2.5rem;
    }
    .card-body {
        padding: 4.5rem;
    }
    .heading {
        font-size: 2.25rem;
        margin-bottom: 2rem;
    }
    .description {
        margin-bottom: 3rem;
    }
    .data-facts h2 {
        font-size: 1.65rem;
    }
    .data-facts {
        gap: 4rem;
    }
}