@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    background: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

.container {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-card {
    max-width: 20rem;
    margin: 2rem auto;
    background: hsl(244, 38%, 16%);
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
}

.header-img {
    height: 100%;
    background: linear-gradient(to right, hsl(277, 64%, 61%), hsl(277, 64%, 61%, 0.5));
    overflow: hidden;
    position: relative;
}
.header-img img {
    width: 100%;
    display: block;
    /* background: linear-gradient(to right, hsl(277, 64%, 61%), hsl(277, 64%, 61%, 0.5)); */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: hsl(277, 64%, 61%, 0.5);
}

.card-body {
    padding: 2.25rem 1.5rem;
}
.heading {
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hightlight {
    color: hsl(277, 64%, 61%);
}

.description {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
    margin-bottom: 1.25rem;
    font-size: 0.95rem;
}

.data-facts {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.data-facts h2 {
    font-size: 1.5rem;
}
.sub-heading {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}
@media (min-width: 600px) {
    .container {
        height: 100%;
        margin: 0 auto;
    }
    .preview-card {
        max-width: 95vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* column-gap: 2rem; */
    }
    .header-img {
        grid-column: 2/-1;
        grid-row: 1/-1;
    }
    .header-img img {
        height: 100%;
    }
    .card-body {
        /* padding: 3.5rem 1.5rem; */
        text-align: left;
    }
    .heading {
        /* font-size: 1.5rem; */
    }
    
    .data-facts {
        padding-top: 2rem;
        flex-direction: row;
        gap: 1rem;
    }
}
@media (min-width: 820px) {
    .container {
        height: 100%;
        margin: 0 auto;
    }
    .preview-card {
        max-width: 90vw;
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        
    }
    .header-img {
        grid-column: 2/-1;
        grid-row: 1/-1;
    }
    .header-img img {
        height: 100%;
    }
    .card-body {
        padding: 3.5rem 3rem;
        text-align: left;
    }
    .data-facts {
        padding-top: 2rem;
        flex-direction: row;
        /* gap: 3rem; */
    }
}
@media (min-width: 1300px) {
    
    .preview-card {
        max-width: 80vw;
        max-height: 70%;
        column-gap: 2.5rem;
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2.5rem; */
    }
    /* .header-img {
        grid-column: 2/-1;
        grid-row: 1/-1;
    } */
    /* .header-img img {
        height: 100%;
    } */

    .card-body {
        padding: 4.5rem 5rem 0 5rem;
        /* text-align: left; */
    }
    .heading {
        font-size: 2.15rem;
        margin-bottom: 2rem;
    }
    .description {
        margin-bottom: 3rem;
    }
    .data-facts {
        /* padding-top: 2rem;
        flex-direction: row; */
        gap: 3rem;
    }
}